@import "tailwindcss";
@import "@anfu/setter/dist/index.css";
@import "@anfu/toast/dist/index.css";
@import "@anfu/overlay/dist/index.css";
@import "@anfu/modal/dist/index.css";

@theme {
	--spacing: 4px;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

#app {
	height: 100%;
}
